@font-face { 
    font-family: "RussellSquare";  
    src:url("../font/ufonts.com_russell-square-regular.ttf") format("truetype");
    font-style:normal;  /* 선택속성 */
    font-weight:normal;  /* 선택속성 */
}     