/*************************************************************
                            공통
*************************************************************/
/*웹표준을 위해서 작성한 h2를 숨김*/
.hide{
    position: absolute;/*현재 태그의 속성을 position: absolute;로 설정. 부모에 relative가 없을 경우 브라우저를 기준으로 절대적으로 이동함.*/
    left:-3000%;
}

/*************************************************************
                            배너
*************************************************************/

#banner {
    background: #0E3C84;
    border: 1px solid red;
}

/* 
선택자1 > 선택자2 
선택자 2까지만 선택
*/
#banner>div {
    /*mainContent Widtg Size 1200px*/
    width: 1200px;
    height: 160px;
    margin: 0 auto; /*div안에 1200px짜리 div가 있는데 이를 가운데 정렬할떄 margin:0 auto를 사용한다*/
    text-align: center;
    vertical-align: middle;
    position: relative;/*기준점*/
    border: 1px solid green;
}

.close>label {
    color: #eeeeee;
    font-size: 12px;
}

.control>a {
    font-size: 0px;/*인라인 태그 사이에 공백제거 font-size:0px */
    margin-left: 12px;
}

.prev,
.next,
.control,
.close {
    position: absolute;/*참고점 : #banner > div*/
}

.prev {
    top: 42px;
    left: 0px;
}

.next {
    top: 42px;
    right: 0px;
}

.control {
    top: 135px;
    left: 0px;
}

.close {
    top: 135px;
    right: 0px;
}


/*************************************************************
                            헤더
*************************************************************/
#header{
    background: #FFFFFF;
    border: 1px solid red;
}

#header>div{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

#header>div>h1{
padding:0 20px 0 0;
}


#header>div>*{
    float: left;/*div 첫번째 자식들을 왼쪽으로 정렬한다.그 과정에서 속성을 적용을 무시한다. (block속성을 정렬할때)*/
    /* border: 1px solid blue; 테스트용->있으면 화면축소시 화면이 깨짐*/
}

#header #lnb >li{
    float: left;
    display: block; /*리스트의 목록표시가 사라진다. 원래는 list-style: none;을 사용한다*/
    height:99px;/*부모 block태그에서 높이height를 설정해주지 않으면, 부모태그의 높이는 자식의 높이를 따른다. 그러므로 99px설정*/
    line-height: 99px; /*li태그안에 들어간 인라인태그의 높이를 설정해줌 => 인라인의 수직정렬*/
    padding:0 16px;
    
}

#header #lnb >li a{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;/*1.밑줄을 바닥에 붙이기 위해서 사용. 2.사용자가 클릭시 영역이 클릭됨으로 수월*/
}
#header #lnb >li a:hover{
    height:95px; /*총높이 99픽셀에서 border의 4px을 제외한다.일시적으로*/
    border-bottom: 4px solid #1764dc;
    color:#3c91f3;
    background: url(../img/images/bg_lnb.gif) no-repeat center 88px;/*position x값:중앙 y값:42*/
}

#header>div>div>*{
    float: left;
}
#header>div>p{
    line-height: 99px;
    height:99px;
    font-size: 22px;
    font-weight: bold;
    color: #0E3C84;
}
#header>div>p>span{
    color: #1764dc;
    position: relative;/*relative : 현재위치에서 이동함. absolute : 부모 relative가 없으면 프라우저 기준으로 이동*/
    top:-3px;
}

#header>div>div{
    padding:30px 0 0 6px;
    /* line-height: 99px;
    height:99px; */
    font-size: 0;/*자식 a태그의 간격을 제거*/
}
#header #pop_btn{
    /*인라인의 속성*/
    font-size: 11px;
    color:#FFFFFF;
    line-height: 38px;
    /*블록의 설정*/
    display: inline-block;/*a태그의 높이를 주고 색을 주기 위해서*/
    background: #2cc06b url(../img/images/bu_arrow_down.gif)no-repeat 50px center;/*background 순서 color→image→repeat→position(왼쪽상단기준)(x값:50px,y값:center)*/
    width:64px;
    height: 40px;
    text-indent: 9px; /*왼쪽 들여쓰기*/
}
